* {
  box-sizing: border-box;
  text-decoration: none;
}
a {
  margin: 5px;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
nav {
  display: flex;
  justify-content: flex-end;
}
img:hover {
  cursor: pointer;
}

.header-nav {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

.input-icon-wraper {
  display: flex;
  width: 600px;
  justify-content: space-between;
  border: 1px solid gainsboro;
}

.input-icon-wraper > input {
  flex-grow: 1;
  border: none;
}

#generico {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  height: 1280px;
  justify-content: flex-end;
}

#logoGoogle {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
