* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

nav {
  justify-content: flex-end;
  display: flex;
}
#generico {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  height: 1280px;
  justify-content: flex-end;
}

#logoGoogle {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

.wrapper {
  justify-content: center;
  display: flex;
  position: relative;
  margin: auto;
  flex-direction: column;
  align-items: center;
}
.input-icon-wraper {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
}

.search-box {
  display: flex;
  width: 500px;
  align-items: center;
  position: relative;
}

.buttons {
  flex: 1;
  border: none;
}

.icon-geral {
  position: relative;
}
